.heading {
    font-size: 6rem;
    width: 50rem;
    line-height: .6;
}

.container {

    width: 50rem;
    margin: 0rem;
    align-items: center;
    justify-content: center;
    
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        width: 50rem;
        margin: 5rem 15rem;

        .inputGroup {

            font-size: 2rem;
            
            input {
                font-size: 1.5rem;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-left: .6rem;
                margin-bottom: 1rem;

                &:focus {

                    outline: none;
                }
            }

            .quill {
                height: 25rem;
            }
        }

        .message_area {

            font-size: 2rem;
            
            input {
                
                height: 20rem;
                width: 30rem;
            }

            .sub_btn {
                position: relative;
                top: 5rem;
                width: 15rem;
                height: 2.5rem;
                margin-bottom: 5rem;
                background-color: white;
                border-radius: .2rem;
                font-size: 1.5rem;
                transition: 200ms ease-in-out;
    
                &:hover {
                    cursor: pointer;
                    box-shadow: 13px 5px 0px 5px #000000;
                }
            }
        }
    }
}