.heading {
    font-size: 6rem;
    width: 50rem;
    line-height: .6;
}

.container {

    width: 50rem;
    margin: 0rem;
    align-items: center;
    justify-content: center;
    
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem   ;
        align-items: center;
        justify-content: center;
        width: 50rem;
        margin: 5rem 15rem;

        .inputGroup {

            font-size: 1.7rem;
            
            input {
                font-size: 1.5rem;
                border-top: none;
                border-left: none;
                border-right: none;
                margin-left: .6rem;
                margin-bottom: 1rem;

                &:focus {

                    outline: none;
                }
            }

            .quill {
                height: 25rem;
            }
        }

        .message_area {

            font-size: 1.7rem;
            position: relative;
            bottom: 2.7rem;
            
            textarea {
                margin-top: 1rem;
                height: 15rem;
                width: 25rem;
                border: solid black .125rem;
                border-radius: .3rem;

                &:focus {
                    outline: none;
                }
            }

            .sub_btn {
                position: relative;
                top: 1rem;
                left: 5rem;
                
                width: 15rem;
                height: 2.5rem;
                margin-bottom: 5rem;
                background-color: white;
                border-radius: .2rem;
                border: black solid .125rem;
                font-size: 1.5rem;
                transition: 200ms ease-in-out;
    
                &:hover {
                    cursor: pointer;
                    box-shadow: 8px 5px 0px 3px #000000;
                }
            }

            .mini_grid {
                display: flex;
                gap: 2rem;
                align-items: center;
                justify-content: center;

                img {

                    position: relative;

                    &:hover {
                        cursor: pointer;
                        transform: translateY(-.08rem);
                        transition: ease-in-out 200ms;
                    }
                }
            }
        }

        .img_wrap {

            position: relative;
            top: 1.6rem;
            

            img {
                border-radius: .7rem;
                width: 25rem;

                animation: zoom 45s;
            }
        }
    }
}

@keyframes zoom {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}