.heading {
    font-size: 5rem;
    position: relative;
    left: 4rem;
    top: 3rem;
}

.container {

    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: solid rgba(38, 23, 46, 0.788) .3rem;
    width: auto 0;
    height: auto 0;

    &:hover {
        cursor: pointer;
        opacity: .5;

        transition: 400ms ease-in-out;
    }
}